# nodejs
node_modules

# sqlite database used in development only
sqlite-praas-crud.db

# we remain on the bleeding edge until we get closer to beta ready
package-lock.json

# Snaphot directory
__snapshots__

# istanbul
.nyc_output

# dotenv environment variables file
.env
.env.conduit-user

# test-data
.test-data-curi.json

# .secrets/*.json
.secrets/*.json
