input {
  border-radius: 0.1em;
  border-width: 1px;
  border-style: solid;
  border-color: $bordercolor;
  padding: 0.5em;
}

.login {
  display: grid;
  grid-row-gap: 1em;
  margin: 0 auto;
  width: 50%;
}

.cancelBtn {
  color: $primary;
  font-size: 0.85em;
  justify-self: center;
}
