// TODO: move to variables/theme
$dropzone-ratio: 16 / 9 !default; // responsive ratio for images
$dropzone-height: percentage(1 / $dropzone-ratio) !default; // height w.r.t width
$dropzone-background-color: #ddd !default;

// This comes from camera.svg. Converted with:
// http://dopiaza.org/tools/datauri/index.php
$dropzone-background-image: 'data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NDAiIGhlaWdodD0iNjQwIiB2ZXJzaW9uPSIxLjEiPjxnIHN0eWxlPSJmaWxsOiMzMzMiPjxwYXRoIGQ9Ik0gMTg3IDIzMCBDIDE3NSAyMzAgMTY1IDI0MCAxNjUgMjUyIEwgMTY1IDMwMCBMIDE2NSA0MDggQyAxNjUgNDIwIDE3NSA0MzAgMTg3IDQzMCBMIDQ2MyA0MzAgQyA0NzUgNDMwIDQ4NSA0MjAgNDg1IDQwOCBMIDQ4NSAzMDAgTCA0ODUgMjUyIEMgNDg1IDI0MCA0NzUgMjMwIDQ2MyAyMzAgTCAxODcgMjMwIHogTSAzNjAgMjU2IEEgNzAgNzIgMCAwIDEgNDMwIDMyOCBBIDcwIDcyIDAgMCAxIDM2MCA0MDAgQSA3MCA3MiAwIDAgMSAyOTAgMzI4IEEgNzAgNzIgMCAwIDEgMzYwIDI1NiB6Ii8+PGNpcmNsZSBjeD0iMzYwIiBjeT0iMzMwIiByPSI0MSIvPjxwYXRoIGQ9Im0yMDUgMjI1IDUtMTAgMjAgMCA1IDEwLTMwIDAiLz48cGF0aCBkPSJNMjg1IDIwMEwyNzAgMjI1IDM3NiAyMjUgMzYxIDIwMCAyODUgMjAwek0zMTAgMjA1TDMzNyAyMDUgMzM3IDIxOCAzMTAgMjE4IDMxMCAyMDV6Ii8+PHBhdGggZD0ibTQwNSAyMjUgNS0xMCAyMCAwIDUgMTAtMzAgMCIvPjwvZz48L3N2Zz4=' !default;

$dropzone-radius: $label-radius !default;
$dropzone-margin: $button-margin !default;

// typical use is at a top-level element with styling provided by the app
.dropzone {
  @include button();

  position: relative;
  display: block;
  padding: 0;
  // Hack from http://stackoverflow.com/a/13976732/938236
  padding-bottom: $dropzone-height;
  overflow: hidden;
  border: 0;
  // uncomment these if you need to style dropzone's
  // border radius and margin...
  // margin: $dropzone-margin;
  // border-radius: $dropzone-radius;

  background-color: $dropzone-background-color;
  background-size: cover;
  background-position: center center;
  background-image: url(#{$dropzone-background-image});

  // sub-elements
  input {
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }
}
