/* illustrate the use of creating a global instance of a place holder */
:global(.shadow) {
  @extend %shadow;
}

/*
See .underline class for an example of creating a global instance of a mixin...

NOTE:
- within a mixin, no variables are accessible (without importing
  them);
- importing partials from within a partial is considered a
  poor practice.
- the solution is to make each mixin accept parameters and provide
  default parameters;
- since we may or may not be creating a global instance of a style
  that uses the mixin, start the mixin name with an underscore as
  a convention, so that user/app level style sheet can 'include'
  the mixin into a class of their own.
*/
:global(.underline) {
  @include _underline($base-spacing);
}

:global(.spinner) {
  min-width: 32px;
  min-height: 32px;
  background-position: left 10px center;
  background-repeat: no-repeat;
  background-image: url("data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==");
}

:global(.cancel) {
  color: $primary;
  font-size: 0.85em;
  justify-self: center;
}

:global(.error) {
  color: red;
  font-size: 0.75em;
  margin-top: -1em;
}

:global(.submit) {
  background-color: $primary;
  border-radius: 1em;
  border-style: none;
  color: $secondary;
  padding: 0.5em 0;

  /* stylelint-disable no-descending-specifity */
  &:focus {
    outline: none;
  }

  /*
  &:disabled {
    background: lighten( $primary, 20% );
  }
*/
}

body {
  font-family: sans-serif;
}

input,
select {
  border-radius: 0.1em;
  border-width: 1px;
  border-style: solid;
  border-color: $bordercolor;
  padding: 0.5em;

  /**
  TODO...
  &:invalid {
    background-color: #ffdddd;
    border: 1px dashed red;
  }

  &:valid {
    background-color: #ddffdd;
  }

  &:require {
    background-color: #800000;
  }
*/
}

/**
 * Lock the scroll position by adding this class to the `<html>` element.
 */
.uLockScroll {
  overflow: hidden !important;
}
