// Place site wide CSS (global) here and setup webpack
// or parceljs to process it as such. CSS modules should
// be used only on stylesheets found under components.
//
main.page {
  padding: 10px;
  max-width: 720px;
  margin: 4rem auto; // <- chack nav height (default is 3rem)
}

// icon-font: place this declaration in your main css file; make sure your
// bundler is able to resolve the icon font file.
@font-face {
  font-family: 'fontello';
  src: url('~web/assets/fonts/fontello.eot?66688527');
  src:
    url('~web/assets/fonts/fontello.eot?66688527#iefix') format('embedded-opentype'),
    url('~web/assets/fonts/fontello.woff2?66688527') format('woff2'),
    url('~web/assets/fonts/fontello.woff?66688527') format('woff'),
    url('~web/assets/fonts/fontello.ttf?66688527') format('truetype'),
    url('~web/assets/fonts/fontello.svg?66688527#plugin') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Go to fontello.com or similar sites and add the icons you want.
// Place the icon font file in a public folder. Next enumerate
// the and pre-define the icons that exist in your fontello here.
.icon-puzzle::before { content: '\e800'; }
.icon-login::before { content: '\e801'; }
.icon-logout::before { content: '\e802'; }
.icon-user-add::before { content: '\e803'; }
.icon-user-remove::before { content: '\e804'; }
.icon-cog::before { content: '\e805'; }
.icon-doc::before { content: '\e806'; }
.icon-docs::before { content: '\e807'; }
.icon-leaf::before { content: '\e808'; }
.icon-paper-plane::before { content: '\e809'; }
.icon-mobile::before { content: '\e80a'; }
.icon-picture::before { content: '\e80b'; }
.icon-help::before { content: '\e80c'; }
.icon-globe::before { content: '\e80d'; }
.icon-ellipsis::before { content: '\e80e'; }
.icon-ellipsis-vert::before { content: '\e80f'; }
.icon-menu::before { content: '\e810'; }
.icon-list::before { content: '\e811'; }
.icon-doc-remove::before { content: '\e812'; }
.icon-doc-add::before { content: '\e813'; }
.icon-link::before { content: '\e814'; }
.icon-cloud::before { content: '\e815'; }
.icon-home::before { content: '\e816'; }
.icon-heart::before { content: '\e817'; }
.icon-sort::before { content: '\e818'; }
.icon-videocam::before { content: '\e819'; }
.icon-play::before { content: '\e81a'; }
.icon-stop::before { content: '\e81b'; }
.icon-pause::before { content: '\e81c'; }
.icon-spin-1::before { content: '\e81d'; }
.icon-spin-2::before { content: '\e81e'; }
.icon-spin-3::before { content: '\e81f'; }
