{
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "modules": true,
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "target": "ES6",
    "module": "commonjs",
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "standard",
    "standard-jsx",
    "standard-react"
  ],
  "overrides": [
    {
      "files": "*.test.js",
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "env": {
    "node": true,
    "mocha": true,
    "browser": true
  },
  "globals": {
    "location": 1,
    "ga": 1
  },
  "rules": {
    "camelcase": 0,
    "object-property-newline": 0,
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "one-var": 0,
    "space-before-function-paren": 0,
    "semi": [
      2,
      "always"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "only-multiline"
      }
    ],
    "no-unused-vars": [
      2,
      {
        "args": "all",
        "argsIgnorePattern": "^_|props|err|req|res|next|env|reject"
      }
    ],
    "prefer-const": 1,
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true
      }
    ],
    "generator-star-spacing": [
      "error",
      {
        "before": false,
        "after": true
      }
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "react/jsx-filename-extension": 0,
    "react/prop-types": 2,
    "react/no-unknown-property": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  }
}