{
  "extends": "stylelint-config-standard",
  "ignoreFiles": "./src/lib/site-css/mini/**.scss",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [true, {
      ignorePseudoClasses: ["global"]
    }],
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}