{
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "modules": true
    },
    "target": "ES6",
    "module": "commonjs",
    "sourceType": "module"
  },
  "plugins": [],
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "extends": [
    "standard"
  ],
  "overrides": [
    {
      "files": "*.test.js",
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "globals": {
    "location": true,
    "ga": true
  },
  "rules": {
    "no-undef-init": "off",
    "no-var": "error",
    "space-infix-ops": "off",
    "operator-linebreak": [
      "error",
      "after"
    ],
    "camelcase": 0,
    "object-property-newline": 0,
    "brace-style": [
      "error",
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "one-var": 0,
    "space-before-function-paren": 0,
    "semi": [
      2,
      "always"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "only-multiline"
      }
    ],
    "no-unused-vars": [
      2,
      {
        "args": "all",
        "argsIgnorePattern": "^_|props|err|req|res|next|env"
      }
    ],
    "prefer-const": 1,
    "quotes": [
      "error",
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ]
  }
}